@use 'typography';
/*-----Font size-----*/
$size64: 64px;
$size48: 48px;
$size45: 45px;
$size40: 40px;
$size38: 38px;
$size32: 32px;
$size26: 26px;
$size25: 25px;
$size22: 22px;
$size20: 20px;
$size18: 18px;
$size16: 16px;
$size14: 14px;
/*-----Font size-----*/
$lineheight76: 76px;
$lineheight72: 72px;
$lineheight48: 48px;
$lineheight39: 39px;
$lineheight38: 38px;
$lineheight33: 33px;
$lineheight30: 30px;
$lineheight27: 27px;
$lineheight21: 21px;
/*-----Font weight-----*/
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 900;
/*-----Color-----*/
$yellow: #FFA823;
$yellowlight: #F3AF1A;
$red: #ED1F24;
$green: #2AB56B;
$greendark: #3AA47E;
$greenmid: #0BC196;
$greenwhite: #F6FFFC;
$lightwhite: #FFFEFA;
$lightyellow: #FFF9E8;
$lightgreen: #EFFFF6;
$lightred: #FFF7F7;
$white: #ffffff;
$lightblue: #F5F9FF;
$mediumblue: #E8F1FF;
$lightpurple: #C1CEFF;
$gray60: #000414;
$gray50: #333643;
$gray40: #666872;
$gray30: #D9DADC;
$gray20: #757575;
$gray: #09090b;
$dark: #192B46;
/*-----Margin-----*/
$gap365: 365px;
$gap100: 100px;
$gap80: 80px;
$gap70: 70px;
$gap60: 60px;
$gap50: 50px;
$gap40: 40px;
$gap30: 30px;
$gap25: 25px;
$gap22: 22px;
$gap21: 21px;
$gap20: 20px;
$gap18: 18px;
$gap16: 16px;
$gap12: 12px;
$gap10: 10px;
$gap8: 8px;
$gap5: 5px;
$gap4: 4px;
$gap3: 3px;
.bgyellow{
    background-color: $yellow;
}
.bglightyellow{
    background-color: $lightyellow;
}
.bglightred{
    background-color: $lightred;
}
.bglightgreen{
    background-color: $lightgreen;
}
.bglightblue{
    background-color: $lightblue;
}
.bgred{
    background-color: $red;
}
.bggreen{
    background-color: $green;
}
.bgdark{
    background-color: $dark;
}
.text-bg-lightgray{
    color: $gray40;
    background-color: #F4F4F5;
    font-weight: $normal;
    padding: 11px 18px;
    font-size: $size18;
}
.text-bg-lightblue{
    color: #5D79E3;
    background-color: $lightblue;
    font-size: $size14;
    padding: 11px 18px;
}
/*-----Button-----*/
@mixin button_styles($background, $color){
    background-color: $background;
    border-radius: 8px;
    color: $color;
    padding: 5px 20px;
    border: 0;
    outline: 0;
    text-align: center;
    font-weight: $semibold;
}
.btn-primary{
    @include button_styles($yellow, $gray60);
    font-size: $size18;
    &:hover{
        background-color: #F4980B;
        color: $gray60;
    }
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    background-color: #F4980B;
    color: $gray60;
}
.btn-secondary{
    @include button_styles($white, $gray60);
    font-size: $size18;
}
.btn-gradient-light{
    background: linear-gradient(180deg, #FFFFFF 32.5%, #5D79E3 232.5%);
    border-radius: 10px;
    font-size: $size18;
    font-weight: $semibold;
    &:hover{
        color: $gray60;
    }
}
.btn-gradient-blue{
    background: linear-gradient(180deg, #5D79E3 -27.5%, #3E5CD0 128.33%);
    border-radius: 10px;
    font-size: $size18;
    font-weight: $semibold;
    color: $white;
    &:hover{
        color: $white;
    }
}
.btn-outline-primary{
    color: $yellow;
    border-color: $yellow;
    &:hover{
        background-color: $yellow;
        border-color: $yellow;
    }
}
.btn-lg{
    line-height: normal;
    padding: $gap18 $gap80;
    @media (max-width: 767px) {
        min-width: auto !important;
        line-height: normal !important;
    }
    &--hero {
        padding: $gap18 $gap30;
    }
    &--large {
        padding: $gap18 $gap40;
    }
}
.btn-md{
    min-width: 250px;
    line-height: 54px;
}
.btn-sm{
    width: 180px;
    line-height: 37px;
}
.gap-extra {
    margin-bottom: $gap365;
    @media (max-width: 767px) {
        margin-bottom: $gap100;
    }
}
/*-----Site Header-----*/
.site-header{
    padding-top: $gap18;
    padding-bottom: $gap18;
    @media (max-width: 1020px) {
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar-nav{
        .nav-link{
            font-size: $size18;
            font-weight: 400;
            color: $gray60 ;
        }
    }
    .navbar-dark{
        .navbar-nav{
            .nav-link{
                color: $white;
                &--navbtn{
                    border: 1px solid $white;
                    border-radius: 8px;
                }
            }
        }
    }
    @media (max-width: 1020px) {
        .container-fluid {
            padding: $gap3 $gap16;
        }
    }
    .dropdown-menu{
        &--megamenu{
            width: 820px;
            left: inherit;
            right: -300px;
            @media (max-width: 1020px) {
                width: 100%;
            }
            
            a{
                text-decoration: none;
                p{
                    font-weight: normal;
                }
                .more{
                    img{
                        position: relative;
                        
                    }
                }
                &:hover{
                    .more{
                        img{
                            transition: all .5s;
                            transform : translateX(10px);
                        }
                    }
                }
            }
        }
    }
}
/*-----Hero header-----*/
.mainhero{
    position: relative;
    overflow: hidden;
    .row {
        @media (max-width: 767px) {
            padding-left: $gap4;
            padding-right: $gap4;
        }
        img.img-hero {
            width: 426px;
        }
    }
    .tagline{
        row-gap: 20px;
        padding-top: 20px;
        @media (max-width: 1020px) {
            row-gap: 10px;
            padding-bottom: $gap50;
        }
        .title{
            font-size: $size22;
            margin-bottom: $gap4;
            @media (max-width: 1020px) {
                font-size: $size20;
                @media (max-width: 767px) {
                    font-size: $size14;
                    line-height: 21px;
                }
            }
        }
        .heading{
            font-size: $size64;
            line-height: 72px;
            @media (max-width: 1020px) {
                font-size: $size38;
                line-height: 50px;
                @media (max-width: 767px) {
                    font-size: $size32;
                    line-height: 38px;
                }
            }
        }
        .subheading{
            font-size: $size26;
            font-weight: $normal;
            line-height: 39px;
            width: 674px;
            @media (max-width: 1020px) {
                font-size: $size22;
                line-height: $size26;
                width: 100%;
                @media (max-width: 767px) {
                    font-size: $size14;
                    line-height: $lineheight21;
                    margin-bottom: $gap10;
                    br{ display: none;}
                }
            }
        }
        .btn-lg{
            border-radius: 8px;
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: $gap22;
            }
            
        }
        .btn{
            &:hover{
                background-color:$dark;
                color: $white;
            }
            @media(max-width: 480px){
                font-size: $size16;
            }
        }
    }
    .hero-thumb{
        .thumb-first{
            z-index: 10;
            text-align: center;
            justify-content: center;
            align-items: center;
            z-index: 10;
            display: flex;
            width: 100%;
            bottom: 130px;
            position: relative;
            margin: auto 0;
        }
    }
    &--heroheight{
        padding: 0;
        @media(min-width: 1024px){
            height: 600px;
        }
        .tagline{
            padding-top: 60px;
        }
        .hero-thumb{
            height: 100%;
            .thumb-first{
                z-index: 10;
                text-align: center;
                justify-content: center;
                align-items: center;
                z-index: 10;
                display: flex;
                width: 100%;
                position: relative;
                margin: auto 0;
                bottom: 0;
                @media(min-width:767px){
                    img{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left:0; 
                    }
                }
            }
            .thumb-second{
                position: absolute;  
                top: 20px;
                right: 0;
                left:0;
            }
        }
    }
}

/*---Global----*/
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}
button.slick-arrow {
    display: none !important;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: #FFFEFA;
    font-size: $size18;
}
.fw-light{
    font-weight: $light;
}
.fw-normal{
    font-weight: $normal;
}
.fw-semibold{
    font-weight: $semibold;
}
.fw-bold{
    font-weight: $bold;
}
.fw-extrabold{
    font-weight: $extrabold;
}
.sectionheading{
    .heading{
        font-size: $size48;
        font-weight: $bold;
        color: $gray60;
        @media (max-width: 1024px) {
            font-size: $size32;
            line-height: $size38;
        }
        @media (max-width: 767px) {
            font-size: $size26;
            line-height: $lineheight39;
        }
    }
    .subheading{
        font-size: $size18;
        @media (max-width: 767px) {
            font-size: $size14;
            line-height: $lineheight21;
        }
    }
}
.heading-single {
    font-size: $size48;
    line-height: $lineheight72;
    @media (max-width: 767px) {
        font-size: $size26;
        line-height: $lineheight39;
    }
}
.thumb-player {
    &--medium {
        text-align: center;
        margin-top: -175px;
        margin-bottom: 45px;
        img {
            border-radius: 20px;
        }
    }
}
/*---Form----*/
    
.fintosform{
    padding: 30px 0;
    .formhead{
        .brand{
            margin-bottom: 60px;
        }
        .tagline{
            h2{
                font-size: $size26;
                font-weight: $bold;
            }
        }
        .back-btn{
            a{
                text-decoration: none;
                color: $gray60;
                font-size: 14px;
            }
        }
        .alert-success{
            background: $lightgreen !important;
            p {
                font-size: $size18;
                color: $greendark;
            }
        }
    }
    .formbody{
        h2 {
            font-size: $size26;
            line-height: $lineheight39;
            &.congrats {
                color: $greenmid !important;
            }
            &.unnote {
                color: $gray20;
            }
        }
        .link{
            color: $yellow;
            text-decoration: underline;
        }
        .alert-success{
            h2{
                color:$greenmid;
                font-size: $size26;
            }
            p{
                font-size: $size18;
            }
            .link{
                text-decoration: none;
            }
            .contactsupport{
                .link{
                    color: #6FAE4F;
                }
            }
        }
    }
    .progress{
        height: 8px;
        background-color: #F6F9FD;
        .progress-bar{
            background-color: $yellow;
        }
    }
    .btn{
        min-width: 320px;
        font-size: $size18;
        font-weight: $bold;
        color: $gray60;
        background-color: $yellowlight;
        &:hover{
            background-color: $yellow;
        }
        &--bg-none {
            text-decoration: unset;
            color: $yellowlight;
        }
    }
    .desc-otp{
        font-size : $size26;
        line-height : $lineheight39;
    }

    .desc-whatsapp {
        padding-top: 32px;
        border-top: 1px solid $gray30;
        margin-top: 32px;
        span{
            color : #6FAE4F;
            font-weight: $bold;
        }
        a{
            text-decoration: none;
        }
    }
    #salarytype{ display: none;}
    .fieldwrap{
        margin-bottom: 30px;
        .form-label{
            color: $gray60;
            font-size: $size18;
            margin-bottom: 5px;
            &--heading {
                font-size: $size26;
                line-height: $lineheight39;
            }
            span{
                color: $gray40;
            }
        }
        .form-check-label{
            line-height: 24px;
            padding-left: 10px;
            position: relative;
        }
        .badgelabel{
            position: absolute;
            top: 10px;
            right: -15px;
            background: url("../images/badges.png") no-repeat;
            background-size: cover;
            display: block;
            color: #1AC057;
            font-size: $size14;
            font-weight: 500;
            padding-right: 10px;
            text-align: right;
            width: 65px;
        }
        .form-control, .form-select{
            background: #F6F9FD;
            border: 1px solid #DEE5EF;
            border-radius: 3px;
            height: 47px;
        }
        textarea.form-control {
            height: 74px;
        }
        .form-control::placeholder {
            color: #A2AAB6;
            opacity: 1;
        }
        .form-control::-ms-input-placeholder {
            color: #A2AAB6;
        }
        .form-control:focus {
            outline: none !important;
            border:1px solid $yellow;
            box-shadow: 0 0 20px $lightpurple;
        }
        .form-check-input{
            width: 22px;
            height: 22px;
            border-color: #A4B0C0;
            margin-top: 0;
        }
        .form-check-input:checked{
            background-color: $yellow;
            border-color: $yellow;
        }
        .input-group-text{
            background-color: $white;
            border-color: #DEE5EF;
            width: 65px;
            display: flex;
            justify-content: center;
            padding: 0;
            text-align: center;
            border-radius: 3px;
        }
        .card{
            background-color: $white;
            border-color: #DEE5EF;
            .form-check-input{
                width: 18px;
                height: 18px;
                border-color: #DEE5EF;
            }
            .form-check-input:checked{
                background-color: #5D79E3;
                border-color: #5D79E3;
            }
            .entrylabel{
                font-size: $size14;
                color: $gray40;
            }
            .entryresult{
                font-size: $size18;
                color: $gray50;
            }
            &--check{
                @media(max-width:768px){
                    .form-check-input{
                        margin-top: 15px;
                    }
                }
            }
        }
        .selected{
            border-color: #5D79E3;
        }
        &--radiocustom{
            .form-check-label{
                line-height: 47px;
                padding-top: 0;
                padding-left: 0;
                height: 47px;
                width: 200px;
                background: #F6F9FD;
                border: 1px solid #DEE5EF;
                text-align: center;
            }
            input[type="radio"]{
                visibility: hidden;
                display: none;
                height: 0;
                width: 0;
            }
            input[type="radio"]:checked + label{
                background-color: $white;
                border: 1px solid #5D79E3;
            }
            .ms-overlap{
            }
        }
    }
    
}
#multi-step-form{
    overflow-x: hidden;
}

/*---End Form----*/


/*---Site Footer----*/
.site-footer{
    background-color: $gray60;
    color:$white;
    font-size: $size18;
    @media (max-width: 1020px) {
        .footer-1, .footer-2, .footer-3 {
            width: 33.33%;
        }
        .footer-4 {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        .footer-1, .footer-2, .footer-3, .footer-4 {
            width: 50%;
            margin-bottom: $gap20;
        }
        padding-left: $gap4;
        padding-right: $gap4;
    }
    h3{
        font-size: $size22;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            font-size: $size18;
            line-height: $lineheight27;
        }
    }
    a, p{
        color: $white;
        text-decoration: none;
        @media (max-width: 767px) {
            font-size: $size14;
            line-height: $lineheight30;
        }
    }
    a{
        &:hover{
            color: $yellow;
        }
    }
    @media (max-width: 767px) {
        p {
            font-size: $size14;
            line-height: $lineheight21;
        }
    }
    @media (min-width: 767px) {
        .mobile-sosmed {
            display: none !important;
        }
    }
    @media (max-width: 767px) {
        .socialmedia {
            display: none !important;
        }
    }
    ul{
        row-gap: 10px;
    }
    .copyright{
        margin-top: 20px;
        color: $gray;
        @media (max-width: 767px) {
            padding-top: 0 !important;
            margin-top: 0;
        }
        .row{
            border-top: 1px solid rgb(255 255 255 / 21%);
            font-size: $size14;
            font-weight: $light;
        }
        a{
            color: $white;
            font-weight: $light;
            text-decoration: underline;
            &:hover{
                color: $yellow;
            }
        }
    }
    &--imortgage{
        .tagline{
            h2{ font-size: $size40;}
            p{font-size: $size18;}
            .btn{
                width: 293px;
                line-height: 47px;
                border-radius: 10px;
                background: linear-gradient(180deg, #5D79E3 -27.5%, #3E5CD0 128.33%);
                font-size: 18px;
                font-weight: $semibold;
                &:hover{
                    color: $white;
                }
            }
        }
        .copyright{
            p{
                font-size: $size18;
            }
            a{
                text-decoration: none;
                font-size: $size18;
            }
            
        }
        .navbrand{
            display: flex;
            align-items: center;
            flex-direction: row;
            column-gap: 20px;

        }
        @media(max-width: 1028px){
            .col-left, .col-right{
                display: block;
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }
            .navbrand{
                flex-direction: column;
                ul{
                    display: block !important;
                    margin: 20px 0;
                }
            }
        }
    }
}
.plan{
    .labelplan{
        height: 70px;
    }
    .titleplan{
        font-size: $size18;
        height: 70px;
        border-bottom: 1px solid $gray30;
        &:last-child{
            border-bottom: 0;
        }
        @media(max-width: 767px){
            height: auto;
            border: none;
            width: 100%;

            span{
                font-size: $size18 !important;
            }
        }
    }
    .entryplan{
        font-size: $size16;
        height: 70px;
        border-bottom: 1px solid $gray30;
        @media(max-width: 767px){
            height: auto;
        }
        span{
            font-size: $size26;
            font-weight: $semibold;
        }
        &:last-child{
            border-bottom: 0;
        }
    }
}

.videowrap{
    .testimonial-video{
        height:100%;
    }
    .tagline{
        h5{
            font-size: $size26;
            line-height: $size38;
        }
    }
    .btn-play{
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        transition: top ease .5s;
        text-align: center;
        &:hover{
            top:45%;
        }
        img{
            @media(max-width: 1024px){
                width: 64px !important;
                height: 64px;
            }
        }
    }
    img{
        border-radius: 16px;
        max-width:100% !important;
        object-fit: cover;
        &.thumb {
            height: 313px;
        }
    }
    &--large{
        margin-top: -300px;
        @media(max-width: 640px){
            margin-top: -150px;
        }
    }
}

.list-block{
    row-gap: 15px;
    column-gap: 15px;
    li{
        height: 70px;
        background-color: $lightblue;
        border-radius: 4px;
        border:1px solid #C1CEFF;
        padding: 0px 35px;
        @media(max-width: 768px){
            padding: 0 15px;
            height: 40px;
        }
    }
}
.ourproduct{
    .tagline{
        h5{
            font-size: $size32;
        }
        p, ul{
            font-size: $size18;
        }
        ul{
            row-gap: 10px;
        }
    }
}
/*---Slick----*/
.slick-dots li button:before, .slick-arrow{
    display:none;
}
.slick-dots{
    bottom: -55px;
    list-style:none;
    li{
        display:inline-block;
        button{
            font-size: 0;
            border: 0px;
            width: 10px;
            height: 10px;
            margin: 0 2px;
            border-radius: 100%;
            background-color: $gray30;
            padding:0;
        }
        &.slick-active{
            button{
                background-color: #F4AE35;
            }
        }
    }
}

.card{
    &--nav{
        .card-head{
            p{
                color:#666872;
                font-size: $size14;
                @media(max-width: 640px){
                    br{ display: none;}
                }
            }
            a{
                color: $gray50;
                text-decoration: none;
                font-size: $size14;
                line-height: $lineheight21;
            }
            .brandthumb{
                height: 22px;
                @media(max-width: 640px){
                    height: 42px;
                }
            }
            .more{
                font-size: $size14;
            }
        }
        .card-body{
            height: 170px;
            text-align: center;
            overflow: hidden;
            border-radius: 15px;
            img{
                object-fit: contain;
                height: 160px;
                margin-bottom: -10px;
                position: relative;
            }
        }
    }
    &--im2{
        .card-title{
            font-size: $size26;
        }
    }
    &--process{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        min-height: 414px;
        .card-title{
            font-size: $size22;
        }
        ul{
            row-gap: 10px;
        }
        .btn{
            color: $yellow;
        }
    }
    &--key{
        min-height: 210px;
        .card-body{
            .card-title{
                font-size: $size40;
                @media (max-width: 767px) {
                    font-size: $size32;
                }
            }
            .card-title::first-letter{
                font-size: $size64;
                color: #E6B325;
            }
            .card-text{
                font-size: $size18;
            }
        }
    }
    &--team{
        span{
            background: #FFFAEB;
            border-radius: 100px;
            font-size: $size14;
            color: $gray50;
            padding:5px 20px;
        }
        .card-body{
            row-gap: 8px;
            .card-text{
                font-size: $size18;
                color: $gray50;
            }
        }
    }
    &--timeline{
        .rounded{
            border-radius: 15px;
        }
        .card-body{
            position: relative;
            .card-title{
                font-size: $size32;
                color: $gray60;
                padding-bottom: 40px;
                border-bottom: 2px solid $yellow;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    left: 0px;
                    top: 54px;
                    border-radius: 100px;
                    background: #FFFFFF;
                    border: 2px solid $yellow;
                }
            }
        }
    }
    &--timeline-slide{
        .card-body{
            position: relative;
            .card-title{
                font-size: $size22;
                color: $gray60;
                padding-bottom: 40px;
                border-bottom: 2px solid $yellow;
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    left: 0px;
                    top: 58px;
                    border-radius: 100px;
                    background: #FFA823;
                    border: 2px solid #FFA823;
                }
            }
            .card-text{
                background-color: $white;
                border-radius: 15px;
                padding: 20px;
                font-size: $size18;
                margin-top: 30px;
                margin-right: 20px;
                @media(max-width: 480px){
                    margin-right: 0;
                }
                p{
                    color: $gray40;
                }
            }
        }
    }
    &--thumbcolor{
        box-shadow: 0px 0px 8px 0px #0000000D;
        border-radius: 15px;
        height:100%;
        padding:30px;
        .card-thumb{
            width: 80px;
            height: 80px;
            text-align: center;
            line-height: 80px;
            border-radius: 15px;
            img{
                height:auto;
                width:50px;
            }
        }
        .card-body{
            padding:30px 0px 0;
        }
        .card-title{
            font-size: $size22;
            line-height: $lineheight33;
        }
        p{
            margin-bottom:0;
        }
    }
    &--position{
        height: 222px;
        border-radius: 15px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        a{
            position: relative;
            top: 0;
            transition: top ease 0.5s;
             &:hover{
                top: -10px;
    
            }	
        }
    }
}
.brandpartner{
    margin-top: $gap40;
    .heading-logo {
        margin-bottom: $gap20;
        @media (max-width: 767px) {
            font-size: $size14;
        }
    }
    .brand-slide{
        @media (max-width: 1020px) {
            .logo-container {
                flex-wrap: wrap;
                justify-content: center;
                @media (max-width: 767px) {
                    gap: 20px !important;
                }
            }
        }
        img{
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            @media (max-width: 767px) {
                height: 27px;
            }
        }
    }
}
.financeproduct{
    .sectionheading{
        margin-top:111px;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            .heading {
                font-size: $size26;
                line-height: $lineheight39;
            }
        }
    }
    @media (max-width: 767px) {
        .card-container {
            margin-bottom: $gap20;
        }
    }
    .card {
        min-height: 170px;
        background-color: $mediumblue;
        border-radius: 15px;
        @media (max-width: 767px) {
            flex-direction: row;
            gap: 24px;
            img {
                height: 50px;
            }
        }
        .card-body{
            flex: unset;
            .card-title{
                font-size: $size18;
                @media (max-width: 767px) {
                    font-size: $size14;
                    line-height: $lineheight21;
                }
            }
        }
    }
}
.whyus{
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
        @media (max-width: 1020px) {
            margin-bottom: 0 !important;
        }
        @media (max-width: 767px) {
            .heading {
                font-size: $size26;
                line-height: $lineheight39;
            }
            p {
                font-size: $size14;
                line-height: $lineheight21;
            }
        }
    }
    .icon-container {
        padding-left: $gap20;
        padding-right: $gap20;
        @media (max-width: 1020px) {
            width: 50%;
            margin-top: 3rem;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-top: 3rem;
        }
    }
    .card{
        background: transparent;
        .card-thumb{
            height: 144px;
            @media (max-width: 767px) {
                display: flex;
                justify-content: center;
            }
            img {
                height: 120px;
            }
        }
        .card-body {
            @media (max-width: 767px) {
                .card-title {
                    text-align: center;
                    font-size: $size18;
                    line-height: $lineheight27;
                    margin-bottom: $gap8 !important;
                }
                p {
                    text-align: center;
                    font-size: $size18;
                    line-height: $lineheight27;
                }
            }
            .card-text{
                font-size: $size18;
            }
        }
    }
    &--imortgage{
        .card{
            min-height: 500px;
            background-color: $lightblue;
            @media (max-width: 767px) {
                min-height: 300px;
            }
        }
        .sectionheading{
            p{
                font-size: $size22;
                color: $gray40;
                @media(max-width: 767px){
                    font-size: $size14;
                }
            }
        }
    }
}
.testimonial{
    .sectionheading {
        @media (max-width: 767px) {
            margin-top: $gap22 !important;
            margin-bottom: $gap8 !important;
            .heading {
                font-size: $size26;
                line-height: $lineheight39;
            }
        }
    }
    .tagline{
        .textquote{
            font-size: $size26;
            color: $gray60;
        }
        .namequote{
            color: $gray50;
            font-weight: $light;
        }
    }
    .card{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        min-height: 313px;
        padding: $gap20;
        .card-body {
            padding: 0;
            .card-text{
                font-size: $size18;
            }
            .rating{
                fill:#FFB800;
            }
        }
    }
    .slick-slide{
        padding: 0 20px;
        margin: 10px 0px;
    }
}
.solutions{
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: $gap20 !important;
        }
        h2.heading {
            margin-bottom: $gap10;
            @media (max-width: 767px) {
                font-size: $size26;
                line-height: $lineheight39;
            }
        }
        p{
            font-size: $size26;
            margin-bottom: 0;
            @media (max-width: 767px) {
                font-size: $size14;
                line-height: $lineheight21;
            }
        }
    }
    @media (max-width: 1020px) {
        .row {
            justify-content: center;
            .card-container {
                width: 80%;
                margin-bottom: 40px;
                @media (max-width: 767px) {
                    width: 100%;
                    margin-bottom: $gap20;
                }
            }
        }
    }
    .card{
        background-color: $lightyellow;
        min-height: 399px;
        row-gap: 39px;
        border-radius: 20px;
        padding: $gap30 $gap20;
        .card-body{
            row-gap: 10px;
            @media (max-width: 767px) {
                .card-title {
                    font-size: $size18;
                    line-height: $lineheight27;
                }
            }
        }
        .card-text{
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            font-size: 18px;
        }
    }
}
.aboutus{
    .slick-list{
        overflow: visible;
    }
    @media (max-width: 1020px) {
        .video-fn {
            width: 100%;
        }
    }
    @media (max-width: 767px) {
        .video-fn {
            order: 2;
        }
        .slick-slide{
            width: 60vw !important;
        }
    }
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
        @media (max-width: 767px) {
            margin-bottom: $gap12 !important;
            .heading {
                font-size: $size26;
                line-height: $lineheight39;
            }
        }
    }
    .tagline{
        h5{
            font-size: $size26;
            @media (max-width: 767px) {
                font-size: $size22;
                line-height: $lineheight33;
            }
        }
        p{
            font-size: $size18;
            margin-top: $gap10;
            margin-bottom: $gap10;
        }
        .award {
            margin-top: 41px;
            .award-container {
                gap: $gap20;
            }
            @media (max-width: 767px) {
                width: 100%;
                .list-unstyled {
                    justify-content: space-between;
                }
            }
        }
        row-gap: 5px;
    }
    .videowrap img {
        border-radius: 16px;
        max-width:100% !important;
        @media (max-width: 1020px) {
            margin-top: $gap40;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-top: 0;
            margin-bottom: $gap20;
        }
    }
    .gallery-fin {
        @media (max-width: 767px) {
            gap: $gap20;
            flex-wrap: nowrap;
            overflow-x: auto;
        }
        .img-container {
            padding-left: $gap20;
            padding-right: $gap20;
            height: auto;
            img {
                border-radius: 16px;
                width: 100%;
            }
            @media (max-width: 767px) {
                padding-left: $gap10;
                padding-right: $gap10;
            }
        }
    }
}
.gallery-fin{
    img{
        height: 310px;
        object-fit: cover;
        object-position: center top;
    }
}
.thumbgallery-carreer{
    .thumbimg{
        height: 310px;
        object-fit: cover;
        object-position: center top;
    }
    img{
        border-radius: 16px;
    }
}
.faq{
    margin-top:80px;
    .heading{
        line-height:72px;
    }
    @media(min-width: 1024px){
        .col-11{
            width: 95%;
        }
        .col-1{
            width: 2%;
        }
    }
    .accordion-button{
        font-size: $size22;
        font-weight: $semibold;
        color: $gray60;
        border:0;
        padding: 20px 10px;
        box-shadow: unset !important;
        @media(max-width: 768px){
            font-size: $size18;
        }
    }
    .accordion-body{
        padding-left: 10px;
        padding-right: 10px;
        @media(max-width: 768px){
            padding: 10px;
        }
    }
    .accordion-item{
        border-left: 0;
        border-right: 0;
    }
    .accordion-button:not(.collapsed){
        background-color: transparent;
    }
    .accordion-button:not(.collapsed)::after{
        background: url("../images/caret-up.png") no-repeat;
        background-position: center center;
        transform: none;
        display: none;
    }
    .accordion-button::after{
        background: url("../images/caret-down.png") no-repeat;
        background-position: center center;
        display: none;
    }
    .accordion-body{
        font-size: $size18;
        color: $gray50;
        a{
            color: $yellow;
            text-decoration: none;
        }
    }
}
.cta{
    .sectionheading{
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        @media (max-width: 767px) {
            .heading {
                font-size: $size32;
                line-height: $lineheight38;
            }
        }
        p{
            font-size: $size26;
            @media (max-width: 767px) {
                font-size: $size18;
                line-height: $lineheight27;
            }
        }
        .btn-lg{
            min-width: auto;
            line-height: normal;
            border-radius: 8px;
            @media (max-width: 767px) {
                .heading {
                    line-height:normal;
                }
            }
        }
    }
    &--fullbg {
        .sectionheading p {
            font-size: $size18;
            line-height: $lineheight27;
        }
    }
    &--boxed{
        height: 500px;
        border-radius: 30px;
        margin-top: 175px;
        margin-bottom: 97px;
        @media (max-width: 1024px) {
            height: auto;
            .sectionheading{
                padding: 30px 0;
                .heading{
                    font-size: $size32;
                }
            }
        }
        @media (max-width: 767px) {
            padding: $gap16;
            margin-top: $gap70;
            margin-bottom: $gap80;
            .img-ct {
                order: 2;
            }
            .sectionheading{
             br{ display: none;}
            }
        }
        .bglightyellow {
            border-radius: 30px;
            @media (max-width: 1020px) {
                .col-md-5, .col-md-7 {
                    width: 100%;
                    .sectionheading {
                        padding: $gap20 10px;
                        margin-bottom: $gap10;
                    }
                }
            }
            @media (max-width: 767px) {
                .sectionheading {
                    padding: $gap30 0;
                    
                }
            }
            .thumb-cta{
                margin-top: -100px;
                @media (max-width: 767px) {
                    margin-top: 0;
                }
            }
        }
        .btn-lg{
            padding: 18px 45px;
            @media (max-width: 767px) {
                padding: 18px 0px;
                width: 100%;
            }
            @media (max-width: 420px) {
                font-size: 16px;
            }
        }
    }
}
/** About **/
.award {
    font-weight: $semibold;
    .award-container {
        gap: $gap20;
    }
}
.vision-value {
    gap: 3%;
    .card-title {
        font-size: $size22;
    }
    @media (max-width: 1020px) {
        gap: 0;
        .column {
            width: 100% !important;
        }
    }
    .column {
        width: 48.5%;
    }
}
.text-key .card-title {
    letter-spacing: 3px;
}
.ourteam {
    .card-title {
        h5{
            font-size: $size26;
            line-height: $lineheight30;
            font-weight: $bold;
        }
        span{
            font-size: $size18;
            color: $gray40
        }
    }
   
}

.pageheader{
    &--full{
        .tagline{
            .title {
               background: linear-gradient(90deg, #FFF6E3 0%, #F9EEC7 100%);
                width: fit-content !important;
                border-radius: 50px;
                margin-bottom: $gap20;
                font-size: $size22;
                span{
                    background-color: $white;
                    display: block;
                    padding: $gap10 $gap30;
                    border-radius: 50px;
                    margin: 2px;
                }
            }
            .heading {
                font-size: $size64;
                line-height: $lineheight76;
                margin-bottom: $gap16;
                @media (max-width: 767px) {
                    font-size: $size32;
                    line-height: 38px;
                }
            }
            .subheading {
                font-size: $size18;
                line-height: $lineheight27;
                margin-bottom: 158px;
                font-weight: $normal;
            }
        }
    }
    &--extrafull{
        padding-bottom: 215px;
        .heading {
            font-size: $size64;
            line-height: $lineheight76;
            margin-bottom: $gap16;
            @media (max-width: 767px) {
                font-size: $size32;
                line-height: $lineheight38;
            }
        }
        .subheading {
            font-size: $size18;
            line-height: $lineheight27;
            margin-bottom: 158px;
            font-weight: $normal;
        }
    }
    &--column{
        .titlelogo{
            font-size: 22px;
        }
        .heading {
            font-size: $size64;
            line-height: $lineheight76;
            @media (max-width: 767px) {
                font-size: $size32;
                line-height: $lineheight38;
            }
        }
        .subheading {
            font-size: $size26;
            line-height: $lineheight39;
            font-weight: $normal;
        }
    }
    &--videofull{
        height: 739px;
        @media(max-width: 768px){
            height: 500px;
        }
       
        .tagline{
            .heading{
                font-size: $size64;
                @media (max-width: 767px) {
                    font-size: $size32;
                }
            } 
            .subheading{
                font-size: $size26;
                line-height: $size32;
                font-weight: $normal;
                @media (max-width: 767px) {
                    font-size: $size14;
                    line-height: $lineheight21;
                    margin-bottom: $gap10;
                }
            }   
        }
    }
}
.img-section {
    margin-top: -210px;
    .gallery-career .img-container {
        width: fit-content;
        img {
            height: 280px !important;
            object-fit: cover;
        }
        &:nth-child(1) img {
            width: 320px;
            @media(max-width: 767px){
                width: 100%;
            }
        }
        &:nth-child(2) img {
            width: 440px;
        }
        &:nth-child(3) img {
            width: 560px;
        }
        &:nth-child(4) img {
            width: 904px;
        }
        &:nth-child(5) img {
            width: 440px;
        }
    }
}
.square-join{
    .card-title {
        font-size: $size22;
        line-height: $lineheight30;
    }
    .card{
        min-height: 200px;
    }
}
.nav-tabs .nav-item button {
    background: $lightyellow;
    color: $gray40;
    padding: $gap4 $gap18 !important;
    &.active, &:hover {
        background: $yellow;
        color: $gray60;
        font-weight: $medium;
    }
}
.tab-content .card-title {
    font-size: $size25;
    line-height: $lineheight39;
    font-weight: $semibold;
}
/** Single Career **/
.back-career a {
    font-size: $size14;
    line-height: $lineheight21;
    color: $gray60;
    text-decoration: unset;
}
.sidebar {
    .title {
        color: $gray40;
    }
    .entry{
        color: $gray60;
    }
}
/** Contact us **/
.side-contact {
    box-shadow: 0px 0px 8px 0px #0000000D;
    .card-thumb {
        width: 30px;
        height: 40px;
    }
    .card-body {
        .card-title {
            font-size: $size22;
            line-height: $lineheight33;
        }
        a{
            color: #212529;
            text-decoration: none;
            &:hover{
                color: $yellow;
            }
        }
    }
}
.divider {
    width: auto;
    height: 1px;
    background-color: $gray30;
}

/*---finance----*/

.plan{
    margin-bottom : $gap70;
    h2{
        line-height:72px;
        @media(max-width: 768px){
            line-height: inherit;
        }
    }
    .plantable{
        border-radius : 15px;
        @media(max-width: 980px){
            padding-top: 20px;
            padding-bottom: 40px;
        }
        .labelplan{
            .rounded{
                border-radius : 20px !important;
                padding: 7px 18px;
                text-align: center;
                line-height: 20px;
            }
            .bgwhite{
                color : $green;
                background-color : $white;
            }
        }
        .price{
            font-size:$size26;
            font-weight: $bold;
            line-height : $lineheight39;
        }
        .entryplan{
            padding: 15px;
            text-align: center;
        }
        .titleplan{
            img{
                margin-right:8px;
                width : 16px;
            }
        }
        .row{
             @media (max-width: 992px) {
                // width : 95%;
                // padding-left:10%;
            }
        }
    }
}

.accordion{
    .accordion-item{
        border-left:0;
        border-right:0;
        border-top:0;
        background : transparent;
    }
    .accordion-button:focus{
        box-shadow : none;
    }
}
.wrapper-finance-copy{
    padding-left:10%;
    @media (max-width: 768px) {
        padding-left:0;
    }
}
.wrapper--card-thumbnail-color{
    margin-bottom:$gap80;
    div[class^="col-md-"]{
        padding:$gap20;
    }
    .card{
        box-shadow: 0px 0px 8px 0px #0000000D;
    }
    
}

.slick-slide .btn-play img{
    display:unset;
}
.testimonial{
    .card{
        height:100%;
    }
}
.slick-dots li:only-of-type{
    display:none;
}

.cta{
    .phone-cta{
        color: $gray50;
        font-size : $size18;
        line-height: $lineheight27;
        padding :10px 0px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        img{
            padding-right: 5px;
            width: 20px;
        }
    }
    &--boxed{
        .cta--withphone .thumb-cta{
            margin-top:-63px;
            @media (max-width: 767px) {
                margin-top:20px !important;
            }
        }
    }
}


/*--- Advice Page ----*/
.hero-advice{
    .thumb-first img{
        @media (max-width: 767px) {
            width : 100%;
        }
    }
}


.ourteam{
    .card{
        &--team{
            .card{
                &-body{
                    .card-text{
                        row-gap: 20px;
                    }
                    @media (max-width: 1100px) {
                        width : 100%;
                    }
                }
                &-thumb{
                    @media (max-width: 1100px) {
                        width : 100%;
                    }
                }
                &-thumb-stretch{
                    height: 378px;
                    object-fit: cover;
                }
                
            }
            .card-copy-right{
                padding : 10px 0px 10px 20px;
                @media (max-width: 992px) {
                  padding : 10px 0px;
                }
            }

            .card-copy-left{
                padding : 10px 20px 10px 0px;
                @media (max-width: 992px) {
                  padding : 10px 0px;
                }
            }


        }
    }
    .wrapper--team-colour{
        border-radius : 15px;
        padding:$gap30 $gap30 10px $gap30;
        @media(max-width: 767px){
            padding: $gap20;
        }
    }
}

/*--- Tech Page ----*/

.ourproduct{
    .tagline{
        @media (max-width: 992px) {
          padding-left : 0px !important;
        }
    }
    &--list{
        list-style:none;
        li{
            background:url(./../images/check-circle.png) no-repeat 0 3px;
            padding-left:30px;
            margin-bottom:8px;
        }

    }
}

.hide-mobile{
    @media (max-width: 992px) {
        display:none;
    }
}
.featured{
    .sectionheading{
        p{
            font-size: $size22;
            @media(max-width: 767px){
                font-size: $size14;
            }
        }
    }
}

.thumbwrap-featured{
    background: url("../images/thumb-placeholder-fintostech.png") no-repeat;
    background-size: contain;
    background-position: center center;
    div[class^="col-lg-"]{
        @media (max-width: 992px) {
            padding-bottom : 30px;
            text-align:center !important;
            img{
                padding:0 !important;
            }
            &.pt-5{
                padding-top:0px !important;
            }
            &.mt-5{
                margin-top:0px !important;
            }
        }

    }
}

.wrapper-tech-appbtn{
    @media (max-width: 767px) {
      display:block !important;
      a{
        display:block;
        margin-bottom:10px;
      }
    }
}

.wrapper-button-featured{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    .btn{
        font-size:20px;
        @media (max-width: 768px) {
          width: 100%;
          margin: 0;
          width: 100%;
        }
    }
    .btn-outline-primary{
        padding-top: 16px;
        padding-bottom: 14px;
        &:hover{
            background-color: $white;
            color: $yellow;
        }
    }
    .btn-primary{
        border:1px solid $yellow;
        text-decoration: none;
    }
    @media(max-width: 768px){
        flex-direction: column;
        row-gap: 20px;
    }
}

.wrapper-arrow-timeline{
    text-align : right;
    .timeline-btn{
        cursor: pointer;
        display: inline-block;
        @media(max-width: 480px){
            img{
                width: 42px;
            }
        }
    }
}

.c-pr-130{
    padding-right: 130px;
    @media (max-width: 1100px) {
        padding-right: 0;
      }
}
.icon-caret{
    transform: rotate(180deg);
    transition: transform ease 0.3s;
}
.collapsed .icon-caret{
    transform: rotate(0deg);
}

.carousel-dots .slick-dots li{
    margin: 0;
}
.brand-slide .logo-container .slick-slide{
    padding: 0 15px;
}

.brand-slide .logo-container .slick-list::before,
.brand-slide .logo-container .slick-list::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px; /* Adjust the width as needed */
    height: 100%;
    z-index: 1;
    pointer-events: none; /* Ensure the overlays don't interfere with sliding */
}

.brand-slide .logo-container .slick-list::before {
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.brand-slide .logo-container .slick-list::after {
    right: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.bg-shadow-blue{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: 1;
    background: radial-gradient(50% 50% at 50% 50%, rgba(174, 255, 236, 0.8) 0%, #5D79E3 100%);
    filter: blur(150px);
    opacity: 0.3;
}
.dots-blue .slick-dots li.slick-active button{
    background-color: #5572DE;
}
.font-16{
    font-size: $size16 !important;
}
.modal-dialog{
    max-width: 860px;
}
.modal-fullscreen{
    max-width: 100%;
    iframe{
        width: 100%;
        height: 100%;
    }
}