@use 'typography';
/*-----Font size-----*/
$size64: 64px;
$size48: 48px;
$size40: 40px;
$size32: 32px;
$size26: 26px;
$size22: 22px;
$size18: 18px;
$size16: 16px;
$size14: 14px;

/*-----Font weight-----*/
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;
$extrabold: 900;

/*-----Color-----*/
$yellow: #FFA823;
$red: #ED1F24;
$green: #2AB56B;
$lightwhite: #FFFEFA;
$lightyellow: #FFF9E8;
$white: #ffffff;
$lightblue: #F5F9FF;
$mediumblue: #E8F1FF;
$lightpurple: #C1CEFF;
$gray60: #000414;
$gray50: #333643;
$gray: #D9DADC;

.bgyellow{ background-color: $yellow;}
.bgprimary{ background-color: #d9d9d9;}


/*-----Button-----*/
@mixin button_styles($background, $color){
    background-color: $background;
    border-radius: 8px;
    color: $color;
    padding: 5px 20px;
    border: 0;
    outline: 0;  
    text-align: center;
    font-weight: $semibold;
}
.btn-primary{
    @include button_styles($yellow, $gray60);
    font-size: $size18;
    &:hover{
        background-color: #F4980B;
        color: $gray60;
    }
}
.btn-secondary{
    @include button_styles($white, $gray60);
    font-size: $size18;
}
.btn-lg{
    min-width: 320px;
    line-height: 62px;
}
.btn-md{
    min-width: 250px;
    line-height: 54px;
    
}
.btn-sm{
    min-width: 180px;
    line-height: 37px;
}
/*-----Site Header-----*/
.site-header{
    .navbar-collapse{
        flex-grow: 0;
    }
    .navbar-nav{
        .nav-link{
            font-size: $size18;
            font-weight: 400;
            color: $gray60 ;
        }
    }
}

/*-----Hero header-----*/
.mainhero{
    .tagline{
        row-gap: 20px;
        .title{ font-size: $size22;}
        .heading{font-size: $size64; line-height: 72px;}
        .subheading{ font-size: $size26; font-weight: $normal;}
        .btn-lg{ border-radius: 15px;}
    }
    .hero-thumb{
        .thumb-first{
            z-index: 10;
            text-align: center;
            justify-content: center;
            align-items: center;
            z-index: 10;
            display: flex;
            width: 100%;
            bottom: 130px;
            margin: auto 0;
            animation-delay: 0.5s;
            animation-duration: 1s;
        }
        .thumb-second{
            
        }
    }
}

/*---Global----*/
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px;
    }
}


body{font-family: "Poppins", sans-serif; background-color: #FFFEFA;}
.fw-light{ font-weight: $light;}
.fw-normal{ font-weight: $normal;}
.fw-semibold{ font-weight: $semibold;}
.fw-bold{ font-weight: $bold;}
.fw-extrabold{ font-weight: $extrabold;}

.sectionheading{
    .heading{
        font-size: $size48;
        font-weight: $bold;
        color: $gray60;
    }
    .subheading{
        font-size: $size18;
    }
}

.brandpartner{
    .brand-slide{
        img{
            -webkit-filter: grayscale(100%); 
            filter: grayscale(100%);
        }
    }
   
}
.financeproduct{
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
    }
    .card{
        min-height: 170px;
        background-color: $mediumblue;
        .card-body{
            flex: unset;
            .card-title{
                font-size: $size18;
            }
        }    
    }
}

.whyus{
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
    }
    .card{
        .card-thumb{
            height: 165px;
            margin-bottom: 20px;
        }
        .card-text{
            font-size: $size18;
        }
    }
}

.testimonial{
    .card{
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        min-height: 313px;
        .card-text{
            font-size: $size18;
        }
        .rating{
            fill:#FFB800;
        }
    }
}

.solutions{
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
        p{
            font-size: $size26;
        }
    }
    .card{
        background-color: $lightyellow;
        min-height: 399px;
        row-gap: 20px;
        .card-body{
            row-gap: 10px;
        }
        .card-text{
           
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                font-size: 18px;
            
           
        }
    }
}
.aboutus{
    .sectionheading{
        margin-top:120px;
        margin-bottom: 50px;
    }
    .tagline{
        h5{ font-size: $size26;}
        p{ font-size: $size18;}
        row-gap: 20px;
    }
}
.cta{
    height: 500px;
    border-radius: 30px;
    margin-top: 200px;
    .row{
        background-color: $lightyellow;
    }
    .thumb-cta{
        margin-top: -100px;
    }
    .sectionheading{
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        p{
            font-size: $size26;
        }
        .btn-lg{
            min-width: 344px;
            line-height: 54px;
            border-radius: 8px;
          
        }
    }
}

/*---Site Footer----*/
.site-footer{
    background-color: $gray60;
    color:$white;
    font-size: $size18;
    h3{
        font-size: $size22;
        margin-bottom: 20px;
    }
    a{
        color: $white;
        text-decoration: none;
        &:hover{
            color: $yellow;
        }
    }
    ul{
        row-gap: 10px;
    }
    .copyright{
        margin-top: 20px;
        color: $gray;
        .row{
            border-top: 1px solid rgb(255 255 255 / 21%);
            font-size: $size14;
            font-weight: $light;
            ul{
                li{
                    a{
                        color: $gray;
                        font-weight: $light;
                        text-decoration: underline;
                        &:hover{
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }
}

