@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*-----Font size-----*/
/*-----Font weight-----*/
/*-----Color-----*/
.bgyellow {
  background-color: #FFA823;
}

.bglightyellow {
  background-color: #FFF9E8;
}

.bglightred {
  background-color: #FFF7F7;
}

.bglightgreen {
  background-color: #EFFFF6;
}

.bglightblue {
  background-color: #F5F9FF;
}

.bgred {
  background-color: #ED1F24;
}

.bggreen {
  background-color: #2AB56B;
}

.text-bg-lightgray {
  color: #666872;
  background-color: #F4F4F5;
  font-weight: 400;
  padding: 11px 18px;
  font-size: 18px;
}

.text-bg-lightblue {
  color: #5D79E3;
  background-color: #F5F9FF;
  font-size: 14px;
  padding: 11px 18px;
}

/*-----Button-----*/
.btn-primary {
  background-color: #FFA823;
  border-radius: 8px;
  color: #000414;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #000414;
}
.btn-primary:hover {
  background-color: #F4980B;
  color: #000414;
}

.btn-secondary {
  background-color: #ffffff;
  border-radius: 8px;
  color: #000414;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.btn-outline-primary {
  color: #FFA823;
  border-color: #FFA823;
}
.btn-outline-primary:hover {
  background-color: #FFA823;
  border-color: #FFA823;
}

.btn-lg {
  min-width: 320px;
  line-height: 62px;
}

.btn-md {
  min-width: 250px;
  line-height: 54px;
}

.btn-sm {
  min-width: 180px;
  line-height: 37px;
}

/*-----Site Header-----*/
.site-header .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.site-header .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #000414;
}

/*-----Hero header-----*/
.mainhero .tagline {
  row-gap: 20px;
}
.mainhero .tagline .title {
  font-size: 22px;
}
.mainhero .tagline .heading {
  font-size: 64px;
  line-height: 72px;
}
.mainhero .tagline .subheading {
  font-size: 26px;
  font-weight: 400;
}
.mainhero .tagline .btn-lg {
  border-radius: 15px;
}
.mainhero .hero-thumb .thumb-first {
  z-index: 10;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 130px;
  margin: auto 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.pageheader--full .tagline {
  /* height: 480px;*/
}
.pageheader--column {
  /*height: 600px;*/
  /*color: $white;*/
}

/*---Global----*/
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFEFA;
  font-size: 18px;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 900;
}

.sectionheading .heading {
  font-size: 48px;
  font-weight: 700;
  color: #000414;
}
.sectionheading .subheading {
  font-size: 18px;
}

.card--key {
  min-height: 210px;
}
.card--key .card-body .card-title {
  font-size: 40px;
}
.card--key .card-body .card-title::first-letter {
  font-size: 64px;
  color: #E6B325;
}
.card--key .card-body .card-text {
  font-size: 18px;
}
.card--team span {
  background: #FFFAEB;
  border-radius: 100px;
  font-size: 14px;
  color: #333643;
  padding: 5px 20px;
}
.card--team .card-body {
  row-gap: 8px;
}
.card--team .card-body .card-text {
  font-size: 18px;
  color: #333643;
}
.card--timeline .card-body {
  position: relative;
}
.card--timeline .card-body .card-title {
  font-size: 32px;
  color: #000414;
  padding-bottom: 40px;
  border-bottom: 2px solid #FFA823;
  position: relative;
}
.card--timeline .card-body .card-title:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 70px;
  border-radius: 100px;
  background: #FFFFFF;
  border: 2px solid #FFA823;
}
.card--timeline .card-body .card-text {
  font-size: 18px;
  color: #333643;
}
.card--thumbcolor .card-thumb {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px;
}
.card--position {
  height: 222px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.brandpartner .brand-slide img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.financeproduct .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
.financeproduct .card {
  min-height: 170px;
  background-color: #E8F1FF;
}
.financeproduct .card .card-body {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}
.financeproduct .card .card-body .card-title {
  font-size: 18px;
}

.whyus .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
.whyus .card .card-thumb {
  height: 165px;
  margin-bottom: 20px;
}
.whyus .card .card-text {
  font-size: 18px;
}

.testimonial .card {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  min-height: 313px;
}
.testimonial .card .card-text {
  font-size: 18px;
}
.testimonial .card .rating {
  fill: #FFB800;
}

.solutions .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
.solutions .sectionheading p {
  font-size: 26px;
}
.solutions .card {
  background-color: #FFF9E8;
  min-height: 399px;
  row-gap: 20px;
}
.solutions .card .card-body {
  row-gap: 10px;
}
.solutions .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  font-size: 18px;
}

.aboutus .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
.aboutus .tagline {
  row-gap: 20px;
}
.aboutus .tagline h5 {
  font-size: 26px;
}
.aboutus .tagline p {
  font-size: 18px;
}

.faq .accordion-button {
  font-size: 22px;
  font-weight: 500;
  color: #000414;
}
.faq .accordion-body {
  font-size: 18px;
  color: #333643;
}
.faq .accordion-body a {
  color: #FFA823;
  text-decoration: none;
}

.cta .sectionheading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}
.cta .sectionheading p {
  font-size: 26px;
}
.cta .sectionheading .btn-lg {
  min-width: 344px;
  line-height: 54px;
  border-radius: 8px;
}
.cta--boxed {
  height: 500px;
  border-radius: 30px;
  margin-top: 200px;
}
.cta--boxed .thumb-cta {
  margin-top: -100px;
}

/*---Site Footer----*/
.site-footer {
  background-color: #000414;
  color: #ffffff;
  font-size: 18px;
}
.site-footer h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
.site-footer a {
  color: #ffffff;
  text-decoration: none;
}
.site-footer a:hover {
  color: #FFA823;
}
.site-footer ul {
  row-gap: 10px;
}
.site-footer .copyright {
  margin-top: 20px;
  color: #D9DADC;
}
.site-footer .copyright .row {
  border-top: 1px solid rgba(255, 255, 255, 0.21);
  font-size: 14px;
  font-weight: 300;
}
.site-footer .copyright .row ul li a {
  color: #D9DADC;
  font-weight: 300;
  text-decoration: underline;
}
.site-footer .copyright .row ul li a:hover {
  color: #FFA823;
}

.plan .labelplan {
  height: 70px;
}
.plan .titleplan {
  font-size: 18px;
  height: 70px;
  border-bottom: 1px solid #D9DADC;
}
.plan .titleplan:last-child {
  border-bottom: 0;
}
.plan .entryplan {
  font-size: 16px;
  height: 70px;
  border-bottom: 1px solid #D9DADC;
}
.plan .entryplan span {
  font-size: 26px;
  font-weight: 500;
}
.plan .entryplan:last-child {
  border-bottom: 0;
}

.modal-fullscreen {
  /*height: auto !important;*/
}

.fintosform {
  padding: 30px 0;
}
.fintosform .formhead .brand {
  margin-bottom: 60px;
}
.fintosform .formhead .tagline h2 {
  font-size: 26px;
  font-weight: 700;
}
.fintosform .formhead .back-btn a {
  text-decoration: none;
  color: #000414;
  font-size: 14px;
}
.fintosform .formbody .link {
  color: #FFA823;
  text-decoration: underline;
}
.fintosform .formbody .alert-success h2 {
  color: #0BC196;
  font-size: 26px;
}
.fintosform .formbody .alert-success p {
  font-size: 18px;
}
.fintosform .formbody .alert-success .link {
  text-decoration: none;
}
.fintosform .formbody .alert-success .contactsupport .link {
  color: #6FAE4F;
}
.fintosform .btn {
  font-size: 18px;
  font-weight: 700;
  color: #000414;
  background-color: #F3AF1A;
}
.fintosform .btn:hover {
  background-color: #FFA823;
}
.fintosform .fieldwrap {
  margin-bottom: 30px;
}
.fintosform .fieldwrap .form-label {
  color: #000414;
  font-size: 18px;
  margin-bottom: 5px;
}
.fintosform .fieldwrap .form-check-label {
  line-height: 24px;
  padding-left: 10px;
}
.fintosform .fieldwrap .form-control {
  background: #F6F9FD;
  border: 1px solid #DEE5EF;
  border-radius: 3px;
  height: 47px;
}
.fintosform .fieldwrap .form-control::-webkit-input-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::-moz-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control:-ms-input-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::-ms-input-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::-ms-input-placeholder {
  color: #A2AAB6;
}
.fintosform .fieldwrap .form-control:focus {
  outline: none !important;
  border: 1px solid #FFA823;
  -webkit-box-shadow: 0 0 20px #C1CEFF;
          box-shadow: 0 0 20px #C1CEFF;
}
.fintosform .fieldwrap .form-check-input {
  width: 22px;
  height: 22px;
  border-color: #A4B0C0;
  margin-top: 0;
}
.fintosform .fieldwrap .form-check-input:checked {
  background-color: #FFA823;
  border-color: #FFA823;
}
.fintosform .fieldwrap .input-group-text {
  background-color: #ffffff;
  border-color: #DEE5EF;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  text-align: center;
  border-radius: 3px;
}
.fintosform .fieldwrap .card {
  background-color: #ffffff;
  border-color: #DEE5EF;
}
.fintosform .fieldwrap .card .form-check-input {
  width: 18px;
  height: 18px;
  border-color: #DEE5EF;
}
.fintosform .fieldwrap .card .form-check-input:checked {
  background-color: #5D79E3;
  border-color: #5D79E3;
}
.fintosform .fieldwrap .card .entrylabel {
  font-size: 14px;
  color: #666872;
}
.fintosform .fieldwrap .card .entryresult {
  font-size: 18px;
  color: #333643;
}
@media (max-width: 768px) {
  .fintosform .fieldwrap .card--check .form-check-input {
    margin-top: 15px;
  }
}
.fintosform .fieldwrap .selected {
  border-color: #5D79E3;
}
.fintosform .fieldwrap--radiocustom .form-check-label {
  line-height: 47px;
  padding-top: 0;
  padding-left: 0;
  height: 47px;
  width: 200px;
  background: #F6F9FD;
  border: 1px solid #DEE5EF;
  text-align: center;
}
.fintosform .fieldwrap--radiocustom input[type=radio] {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}
.fintosform .fieldwrap--radiocustom input[type=radio]:checked + label {
  background-color: #ffffff;
  border: 1px solid #5D79E3;
}
#multi-step-form {
  overflow-x: hidden;
}