@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*-----Font size-----*/
/*-----Font size-----*/
/*-----Font weight-----*/
/*-----Color-----*/
/*-----Margin-----*/
.bgyellow {
  background-color: #FFA823;
}

.bglightyellow {
  background-color: #FFF9E8;
}

.bglightred {
  background-color: #FFF7F7;
}

.bglightgreen {
  background-color: #EFFFF6;
}

.bglightblue {
  background-color: #F5F9FF;
}

.bgred {
  background-color: #ED1F24;
}

.bggreen {
  background-color: #2AB56B;
}

.bgdark {
  background-color: #192B46;
}

.text-bg-lightgray {
  color: #666872;
  background-color: #F4F4F5;
  font-weight: 400;
  padding: 11px 18px;
  font-size: 18px;
}

.text-bg-lightblue {
  color: #5D79E3;
  background-color: #F5F9FF;
  font-size: 14px;
  padding: 11px 18px;
}

/*-----Button-----*/
.btn-primary {
  background-color: #FFA823;
  border-radius: 8px;
  color: #000414;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}
.btn-primary:hover {
  background-color: #F4980B;
  color: #000414;
}

.btn-secondary {
  background-color: #ffffff;
  border-radius: 8px;
  color: #000414;
  padding: 5px 20px;
  border: 0;
  outline: 0;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.btn-gradient-light {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(32.5%, #FFFFFF), color-stop(232.5%, #5D79E3));
  background: linear-gradient(180deg, #FFFFFF 32.5%, #5D79E3 232.5%);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}
.btn-gradient-light:hover {
  color: #000414;
}

.btn-gradient-blue {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-27.5%, #5D79E3), color-stop(128.33%, #3E5CD0));
  background: linear-gradient(180deg, #5D79E3 -27.5%, #3E5CD0 128.33%);
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.btn-gradient-blue:hover {
  color: #ffffff;
}

.btn-outline-primary {
  color: #FFA823;
  border-color: #FFA823;
}
.btn-outline-primary:hover {
  background-color: #FFA823;
  border-color: #FFA823;
}

.btn-lg {
  line-height: normal;
  padding: 18px 80px;
}
@media (max-width: 767px) {
  .btn-lg {
    min-width: auto !important;
    line-height: normal !important;
  }
}
.btn-lg--hero {
  padding: 18px 21px;
}
.btn-lg--large {
  padding: 18px 40px;
}

.btn-md {
  min-width: 250px;
  line-height: 54px;
}

.btn-sm {
  width: 180px;
  line-height: 37px;
}

.gap-extra {
  margin-bottom: 365px;
}
@media (max-width: 767px) {
  .gap-extra {
    margin-bottom: 100px;
  }
}

/*-----Site Header-----*/
.site-header {
  padding-top: 18px;
  padding-bottom: 18px;
}
@media (max-width: 1020px) {
  .site-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.site-header .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.site-header .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #000414;
}
.site-header .navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.site-header .navbar-dark .navbar-nav .nav-link--navbtn {
  border: 1px solid #ffffff;
  border-radius: 8px;
}
@media (max-width: 1020px) {
  .site-header .container-fluid {
    padding: 3px 16px;
  }
}
.site-header .dropdown-menu--megamenu {
  width: 820px;
  left: inherit;
  right: -300px;
}
@media (max-width: 1020px) {
  .site-header .dropdown-menu--megamenu {
    width: 100%;
  }
}

/*-----Hero header-----*/
.mainhero {
  padding-top: 25px;
}
@media (max-width: 767px) {
  .mainhero .row {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.mainhero .row img.img-hero {
  width: 426px;
}
.mainhero .tagline {
  row-gap: 20px;
  padding-bottom: 129px;
}
@media (max-width: 1020px) {
  .mainhero .tagline {
    row-gap: 10px;
    padding-bottom: 50px;
  }
}
.mainhero .tagline .title {
  font-size: 22px;
  margin-bottom: 4px;
}
@media (max-width: 1020px) {
  .mainhero .tagline .title {
    font-size: 20px;
  }
}
@media (max-width: 1020px) and (max-width: 767px) {
  .mainhero .tagline .title {
    font-size: 14px;
    line-height: 21px;
  }
}
.mainhero .tagline .heading {
  font-size: 64px;
  line-height: 72px;
}
@media (max-width: 1020px) {
  .mainhero .tagline .heading {
    font-size: 38px;
    line-height: 50px;
  }
}
@media (max-width: 1020px) and (max-width: 767px) {
  .mainhero .tagline .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
.mainhero .tagline .subheading {
  font-size: 26px;
  font-weight: 400;
  width: 674px;
}
@media (max-width: 1020px) {
  .mainhero .tagline .subheading {
    font-size: 22px;
    width: 100%;
  }
}
@media (max-width: 1020px) and (max-width: 767px) {
  .mainhero .tagline .subheading {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
  }
  .mainhero .tagline .subheading br {
    display: none;
  }
}
.mainhero .tagline .btn-lg {
  border-radius: 15px;
}
@media (max-width: 767px) {
  .mainhero .tagline .btn-lg {
    width: 100%;
    margin-bottom: 22px;
  }
}
.mainhero .hero-thumb .thumb-first {
  z-index: 10;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 130px;
  margin: auto 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.pageheader--full .tagline {
  /* height: 480px;
  */
}
.pageheader--full .tagline .title {
  background: white;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  border-radius: 50px;
  padding: 10px 30px;
  border: 2px solid;
  border-image-source: linear-gradient(91.51deg, #FFF6E3 -8.37%, #F9EEC7 107.23%);
  margin-bottom: 20px;
}
.pageheader--full .tagline .heading {
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .pageheader--full .tagline .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
.pageheader--full .tagline .subheading {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 158px;
  font-weight: 400;
}
.pageheader--column {
  /*height: 600px;
  */
  /*color: $white;
  */
}

/*---Global----*/
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1400px;
  }
}
button.slick-arrow {
  display: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFEFA;
  font-size: 18px;
}

.fw-light {
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extrabold {
  font-weight: 900;
}

.sectionheading .heading {
  font-size: 48px;
  font-weight: 700;
  color: #000414;
}
@media (max-width: 1024px) {
  .sectionheading .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
@media (max-width: 767px) {
  .sectionheading .heading {
    font-size: 26px;
    line-height: 39px;
  }
}
.sectionheading .subheading {
  font-size: 18px;
}
@media (max-width: 767px) {
  .sectionheading .subheading {
    font-size: 14px;
    line-height: 21px;
  }
}

.heading-single {
  font-size: 48px;
  line-height: 72px;
}
@media (max-width: 767px) {
  .heading-single {
    font-size: 26px;
    line-height: 39px;
  }
}

.thumb-player--medium {
  text-align: center;
  margin-top: -175px;
  margin-bottom: 45px;
}
.thumb-player--medium img {
  border-radius: 20px;
}

/*---Form----*/
.fintosform {
  padding: 30px 0;
}
.fintosform .formhead .brand {
  margin-bottom: 60px;
}
.fintosform .formhead .tagline h2 {
  font-size: 26px;
  font-weight: 700;
}
.fintosform .formhead .back-btn a {
  text-decoration: none;
  color: #000414;
  font-size: 14px;
}
.fintosform .formhead .alert-success {
  background: #EFFFF6 !important;
}
.fintosform .formhead .alert-success p {
  font-size: 18px;
  color: #3AA47E;
}
.fintosform .formbody h2 {
  font-size: 26px;
  line-height: 39px;
}
.fintosform .formbody h2.congrats {
  color: #0BC196 !important;
}
.fintosform .formbody h2.unnote {
  color: #757575;
}
.fintosform .formbody .link {
  color: #FFA823;
  text-decoration: underline;
}
.fintosform .formbody .alert-success h2 {
  color: #0BC196;
  font-size: 26px;
}
.fintosform .formbody .alert-success p {
  font-size: 18px;
}
.fintosform .formbody .alert-success .link {
  text-decoration: none;
}
.fintosform .formbody .alert-success .contactsupport .link {
  color: #6FAE4F;
}
.fintosform .progress {
  height: 8px;
  background-color: #F6F9FD;
}
.fintosform .progress .progress-bar {
  background-color: #FFA823;
}
.fintosform .btn {
  min-width: 320px;
  font-size: 18px;
  font-weight: 700;
  color: #000414;
  background-color: #F3AF1A;
}
.fintosform .btn:hover {
  background-color: #FFA823;
}
.fintosform .btn--bg-none {
  text-decoration: unset;
  color: #F3AF1A;
}
.fintosform .desc-otp {
  font-size: 26px;
  line-height: 39px;
}
.fintosform .desc-whatsapp {
  padding-top: 32px;
  border-top: 1px solid #D9DADC;
  margin-top: 32px;
}
.fintosform .desc-whatsapp span {
  color: #6FAE4F;
  font-weight: 700;
}
.fintosform #salarytype {
  display: none;
}
.fintosform .fieldwrap {
  margin-bottom: 30px;
}
.fintosform .fieldwrap .form-label {
  color: #000414;
  font-size: 18px;
  margin-bottom: 5px;
}
.fintosform .fieldwrap .form-label--heading {
  font-size: 26px;
  line-height: 39px;
}
.fintosform .fieldwrap .form-label span {
  color: #666872;
}
.fintosform .fieldwrap .form-check-label {
  line-height: 24px;
  padding-left: 10px;
}
.fintosform .fieldwrap .form-control, .fintosform .fieldwrap .form-select {
  background: #F6F9FD;
  border: 1px solid #DEE5EF;
  border-radius: 3px;
  height: 47px;
}
.fintosform .fieldwrap textarea.form-control {
  height: 74px;
}
.fintosform .fieldwrap .form-control::-webkit-input-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::-moz-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control:-ms-input-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::-ms-input-placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::placeholder {
  color: #A2AAB6;
  opacity: 1;
}
.fintosform .fieldwrap .form-control::-ms-input-placeholder {
  color: #A2AAB6;
}
.fintosform .fieldwrap .form-control:focus {
  outline: none !important;
  border: 1px solid #FFA823;
  -webkit-box-shadow: 0 0 20px #C1CEFF;
          box-shadow: 0 0 20px #C1CEFF;
}
.fintosform .fieldwrap .form-check-input {
  width: 22px;
  height: 22px;
  border-color: #A4B0C0;
  margin-top: 0;
}
.fintosform .fieldwrap .form-check-input:checked {
  background-color: #FFA823;
  border-color: #FFA823;
}
.fintosform .fieldwrap .input-group-text {
  background-color: #ffffff;
  border-color: #DEE5EF;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  text-align: center;
  border-radius: 3px;
}
.fintosform .fieldwrap .card {
  background-color: #ffffff;
  border-color: #DEE5EF;
}
.fintosform .fieldwrap .card .form-check-input {
  width: 18px;
  height: 18px;
  border-color: #DEE5EF;
}
.fintosform .fieldwrap .card .form-check-input:checked {
  background-color: #5D79E3;
  border-color: #5D79E3;
}
.fintosform .fieldwrap .card .entrylabel {
  font-size: 14px;
  color: #666872;
}
.fintosform .fieldwrap .card .entryresult {
  font-size: 18px;
  color: #333643;
}
@media (max-width: 768px) {
  .fintosform .fieldwrap .card--check .form-check-input {
    margin-top: 15px;
  }
}
.fintosform .fieldwrap .selected {
  border-color: #5D79E3;
}
.fintosform .fieldwrap--radiocustom .form-check-label {
  line-height: 47px;
  padding-top: 0;
  padding-left: 0;
  height: 47px;
  width: 200px;
  background: #F6F9FD;
  border: 1px solid #DEE5EF;
  text-align: center;
}
.fintosform .fieldwrap--radiocustom input[type=radio] {
  visibility: hidden;
  display: none;
  height: 0;
  width: 0;
}
.fintosform .fieldwrap--radiocustom input[type=radio]:checked + label {
  background-color: #ffffff;
  border: 1px solid #5D79E3;
}
#multi-step-form {
  overflow-x: hidden;
}

/*---End Form----*/
/*---Site Footer----*/
.site-footer {
  background-color: #000414;
  color: #ffffff;
  font-size: 18px;
}
@media (max-width: 1020px) {
  .site-footer .footer-1, .site-footer .footer-2, .site-footer .footer-3 {
    width: 33.33%;
  }
  .site-footer .footer-4 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-left: 4px;
    padding-right: 4px;
  }
  .site-footer .footer-1, .site-footer .footer-2, .site-footer .footer-3, .site-footer .footer-4 {
    width: 50%;
    margin-bottom: 20px;
  }
}
.site-footer h3 {
  font-size: 22px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .site-footer h3 {
    font-size: 18px;
    line-height: 27px;
  }
}
.site-footer a, .site-footer p {
  color: #ffffff !important;
  text-decoration: none;
}
.site-footer a:hover, .site-footer p:hover {
  color: #FFA823;
}
@media (max-width: 767px) {
  .site-footer a, .site-footer p {
    font-size: 14px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 767px) {
  .site-footer .mobile-sosmed {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .site-footer .socialmedia {
    display: none !important;
  }
}
.site-footer ul {
  row-gap: 10px;
}
.site-footer .copyright {
  margin-top: 20px;
  color: #09090b;
}
@media (max-width: 767px) {
  .site-footer .copyright {
    padding-top: 0 !important;
    margin-top: 0;
  }
}
.site-footer .copyright .row {
  border-top: 1px solid rgba(255, 255, 255, 0.21);
  font-size: 14px;
  font-weight: 300;
}
.site-footer .copyright .row ul li a {
  color: #09090b;
  font-weight: 300;
  text-decoration: underline;
}
.site-footer .copyright .row ul li a:hover {
  color: #FFA823;
}

.plan .labelplan {
  height: 70px;
}
.plan .titleplan {
  font-size: 18px;
  height: 70px;
  border-bottom: 1px solid #D9DADC;
}
.plan .titleplan:last-child {
  border-bottom: 0;
}
@media (max-width: 767px) {
  .plan .titleplan {
    height: auto;
    border: none;
    width: 100%;
  }
  .plan .titleplan span {
    font-size: 18px !important;
  }
}
.plan .entryplan {
  font-size: 16px;
  height: 70px;
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 767px) {
  .plan .entryplan {
    height: auto;
  }
}
.plan .entryplan span {
  font-size: 26px;
  font-weight: 600;
}
.plan .entryplan:last-child {
  border-bottom: 0;
}

.videowrap .testimonial-video {
  height: 100%;
}
.videowrap .tagline h5 {
  font-size: 26px;
  line-height: 38px;
}
.videowrap .btn-play {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: top ease 0.5s;
  transition: top ease 0.5s;
  text-align: center;
}
.videowrap .btn-play:hover {
  top: 45%;
}
@media (max-width: 1024px) {
  .videowrap .btn-play img {
    width: 64px !important;
    height: 64px;
  }
}
.videowrap img {
  border-radius: 16px;
  max-width: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.videowrap img.thumb {
  height: 313px;
}
.videowrap--large {
  margin-top: -300px;
}

.list-block {
  row-gap: 15px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.list-block li {
  width: 300px;
  height: 70px;
  background-color: #F5F9FF;
  border-radius: 4px;
  border-color: #C1CEFF;
}

.ourproduct .tagline h5 {
  font-size: 32px;
}
.ourproduct .tagline p, .ourproduct .tagline ul {
  font-size: 18px;
}
.ourproduct .tagline ul {
  row-gap: 10px;
}

/*---Slick----*/
.slick-dots li button:before, .slick-arrow {
  display: none;
}

.slick-dots {
  bottom: -55px;
  list-style: none;
}
.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  font-size: 0;
  border: 0px;
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 100%;
  background-color: #D9DADC;
  padding: 0;
}
.slick-dots li.slick-active button {
  background-color: #F4AE35;
}

/*---Home Header A----*/
.card--nav .card-head p {
  color: #666872;
  font-size: 14px;
}
.card--nav .card-head a {
  color: #333643;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
}
.card--nav .card-body {
  height: 170px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
}
.card--nav .card-body img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 160px;
  margin-bottom: -10px;
  position: relative;
}
.card--process {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  min-height: 414px;
}
.card--process .card-title {
  font-size: 22px;
}
.card--process ul {
  row-gap: 10px;
}
.card--process .btn {
  color: #FFA823;
}
.card--key {
  min-height: 210px;
}
.card--key .card-body .card-title {
  font-size: 40px;
}
@media (max-width: 767px) {
  .card--key .card-body .card-title {
    font-size: 32px;
  }
}
.card--key .card-body .card-title::first-letter {
  font-size: 64px;
  color: #E6B325;
}
.card--key .card-body .card-text {
  font-size: 18px;
}
.card--team span {
  background: #FFFAEB;
  border-radius: 100px;
  font-size: 14px;
  color: #333643;
  padding: 5px 20px;
}
.card--team .card-body {
  row-gap: 8px;
}
.card--team .card-body .card-text {
  font-size: 18px;
  color: #333643;
}
.card--timeline .rounded {
  border-radius: 15px;
}
.card--timeline .card-body {
  position: relative;
}
.card--timeline .card-body .card-title {
  font-size: 32px;
  color: #000414;
  padding-bottom: 40px;
  border-bottom: 2px solid #FFA823;
  position: relative;
}
.card--timeline .card-body .card-title:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 54px;
  border-radius: 100px;
  background: #FFFFFF;
  border: 2px solid #FFA823;
}
.card--timeline-slide .card-body {
  position: relative;
}
.card--timeline-slide .card-body .card-title {
  font-size: 22px;
  color: #000414;
  padding-bottom: 40px;
  border-bottom: 2px solid #FFA823;
  position: relative;
}
.card--timeline-slide .card-body .card-title:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 58px;
  border-radius: 100px;
  background: #FFA823;
  border: 2px solid #FFA823;
}
.card--timeline-slide .card-body .card-text {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  font-size: 18px;
  margin-top: 30px;
  margin-right: 20px;
}
.card--timeline-slide .card-body .card-text p {
  color: #333643;
}
.card--thumbcolor {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
  border-radius: 15px;
  height: 100%;
  padding: 30px;
}
.card--thumbcolor .card-thumb {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-radius: 15px;
  padding: 15px 0px;
}
.card--thumbcolor .card-thumb img {
  height: auto;
  width: 50px;
}
.card--thumbcolor .card-body {
  padding: 30px 0px 0;
}
.card--thumbcolor .card-title {
  font-size: 22px;
  line-height: 33px;
}
.card--thumbcolor p {
  margin-bottom: 0;
}
.card--position {
  height: 222px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}
.card--position a {
  position: relative;
  top: 0;
  -webkit-transition: top ease 0.5s;
  transition: top ease 0.5s;
}
.card--position a:hover {
  top: -10px;
}

.brandpartner {
  margin-top: 40px;
}
.brandpartner .heading-logo {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .brandpartner .heading-logo {
    font-size: 14px;
  }
}
@media (max-width: 1020px) {
  .brandpartner .brand-slide .logo-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1020px) and (max-width: 767px) {
  .brandpartner .brand-slide .logo-container {
    gap: 20px !important;
  }
}
.brandpartner .brand-slide img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@media (max-width: 767px) {
  .brandpartner .brand-slide img {
    height: 27px;
  }
}

.financeproduct .sectionheading {
  margin-top: 111px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .financeproduct .sectionheading .heading {
    font-size: 26px;
    line-height: 39px;
  }
}
@media (max-width: 767px) {
  .financeproduct .card-container {
    margin-bottom: 20px;
  }
}
.financeproduct .card {
  min-height: 170px;
  background-color: #E8F1FF;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .financeproduct .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 24px;
  }
  .financeproduct .card img {
    height: 50px;
  }
}
.financeproduct .card .card-body {
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
}
.financeproduct .card .card-body .card-title {
  font-size: 18px;
}
@media (max-width: 767px) {
  .financeproduct .card .card-body .card-title {
    font-size: 14px;
    line-height: 21px;
  }
}

.whyus .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
@media (max-width: 1020px) {
  .whyus .sectionheading {
    margin-bottom: 0 !important;
  }
}
@media (max-width: 767px) {
  .whyus .sectionheading .heading {
    font-size: 26px;
    line-height: 39px;
  }
  .whyus .sectionheading p {
    font-size: 14px;
    line-height: 21px;
  }
}
.whyus .icon-container {
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 1020px) {
  .whyus .icon-container {
    width: 50%;
    margin-top: 3rem;
  }
}
@media (max-width: 767px) {
  .whyus .icon-container {
    width: 100%;
    margin-top: 3rem;
  }
}
.whyus .card {
  background: transparent;
}
.whyus .card .card-thumb {
  height: 144px;
}
@media (max-width: 767px) {
  .whyus .card .card-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.whyus .card .card-thumb img {
  height: 120px;
}
@media (max-width: 767px) {
  .whyus .card .card-body .card-title {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 8px !important;
  }
  .whyus .card .card-body p {
    text-align: center;
    font-size: 18px;
    line-height: 27px;
  }
}
.whyus .card .card-body .card-text {
  font-size: 18px;
}
.whyus--imortgage .card {
  min-height: 500px;
  background-color: #F5F9FF;
}
@media (max-width: 767px) {
  .whyus--imortgage .card {
    min-height: 300px;
  }
}

@media (max-width: 767px) {
  .testimonial .sectionheading {
    margin-top: 22px !important;
    margin-bottom: 8px !important;
  }
  .testimonial .sectionheading .heading {
    font-size: 26px;
    line-height: 39px;
  }
}
.testimonial .tagline .textquote {
  font-size: 26px;
  color: #000414;
}
.testimonial .tagline .namequote {
  color: #333643;
  font-weight: 300;
}
.testimonial .card {
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  min-height: 313px;
  padding: 20px;
}
.testimonial .card .card-body {
  padding: 0;
}
.testimonial .card .card-body .card-text {
  font-size: 18px;
}
.testimonial .card .card-body .rating {
  fill: #FFB800;
}
.testimonial .slick-slide {
  padding: 0 20px;
  margin: 10px 0px;
}

.solutions .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .solutions .sectionheading {
    margin-bottom: 20px !important;
  }
}
.solutions .sectionheading h2.heading {
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .solutions .sectionheading h2.heading {
    font-size: 26px;
    line-height: 39px;
  }
}
.solutions .sectionheading p {
  font-size: 26px;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .solutions .sectionheading p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (max-width: 1020px) {
  .solutions .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .solutions .row .card-container {
    width: 80%;
    margin-bottom: 40px;
  }
}
@media (max-width: 1020px) and (max-width: 767px) {
  .solutions .row .card-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
.solutions .card {
  background-color: #FFF9E8;
  min-height: 399px;
  row-gap: 39px;
  border-radius: 20px;
  padding: 30px 20px;
}
.solutions .card .card-body {
  row-gap: 10px;
}
@media (max-width: 767px) {
  .solutions .card .card-body .card-title {
    font-size: 18px;
    line-height: 27px;
  }
}
.solutions .card .card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  font-size: 18px;
}

.aboutus .slick-list {
  overflow: visible;
}
@media (max-width: 1020px) {
  .aboutus .video-fn {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .aboutus .video-fn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .aboutus .slick-slide {
    width: 60vw !important;
  }
}
.aboutus .sectionheading {
  margin-top: 120px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .aboutus .sectionheading {
    margin-bottom: 12px !important;
  }
  .aboutus .sectionheading .heading {
    font-size: 26px;
    line-height: 39px;
  }
}
.aboutus .tagline {
  row-gap: 5px;
}
.aboutus .tagline h5 {
  font-size: 26px;
}
@media (max-width: 767px) {
  .aboutus .tagline h5 {
    font-size: 22px;
    line-height: 33px;
  }
}
.aboutus .tagline p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.aboutus .tagline .award {
  margin-top: 41px;
}
.aboutus .tagline .award .award-container {
  gap: 20px;
}
@media (max-width: 767px) {
  .aboutus .tagline .award {
    width: 100%;
  }
  .aboutus .tagline .award .list-unstyled {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.aboutus .videowrap img {
  border-radius: 16px;
  max-width: 100% !important;
}
@media (max-width: 1020px) {
  .aboutus .videowrap img {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .aboutus .videowrap img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .aboutus .gallery-fin {
    gap: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
  }
}
.aboutus .gallery-fin .img-container {
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
}
.aboutus .gallery-fin .img-container img {
  border-radius: 16px;
  width: 100%;
}
@media (max-width: 767px) {
  .aboutus .gallery-fin .img-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.faq {
  margin-top: 80px;
}
.faq .heading {
  line-height: 72px;
}
@media (min-width: 1024px) {
  .faq .col-11 {
    width: 95%;
  }
  .faq .col-1 {
    width: 2%;
  }
}
.faq .accordion-button {
  font-size: 22px;
  font-weight: 600;
  color: #000414;
  border: 0;
  padding: 20px 10px;
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
}
@media (max-width: 768px) {
  .faq .accordion-button {
    font-size: 18px;
  }
}
.faq .accordion-body {
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 768px) {
  .faq .accordion-body {
    padding: 10px;
  }
}
.faq .accordion-item {
  border-left: 0;
  border-right: 0;
}
.faq .accordion-button:not(.collapsed) {
  background-color: transparent;
}
.faq .accordion-button:not(.collapsed)::after {
  background: url("../images/caret-up.png") no-repeat;
  background-position: center center;
  -webkit-transform: none;
          transform: none;
  display: none;
}
.faq .accordion-button::after {
  background: url("../images/caret-down.png") no-repeat;
  background-position: center center;
  display: none;
}
.faq .accordion-body {
  font-size: 18px;
  color: #333643;
}
.faq .accordion-body a {
  color: #FFA823;
  text-decoration: none;
}

.cta .sectionheading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px;
}
@media (max-width: 767px) {
  .cta .sectionheading .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
.cta .sectionheading p {
  font-size: 26px;
}
@media (max-width: 767px) {
  .cta .sectionheading p {
    font-size: 18px;
    line-height: 27px;
  }
}
.cta .sectionheading .btn-lg {
  min-width: auto;
  line-height: normal;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .cta .sectionheading .btn-lg .heading {
    line-height: normal;
  }
}
.cta--fullbg .sectionheading p {
  font-size: 18px;
  line-height: 27px;
}
.cta--boxed {
  height: 500px;
  border-radius: 30px;
  margin-top: 175px;
  margin-bottom: 97px;
}
@media (max-width: 1024px) {
  .cta--boxed {
    height: auto;
  }
  .cta--boxed .sectionheading {
    padding: 30px 0;
  }
  .cta--boxed .sectionheading .heading {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .cta--boxed {
    padding: 16px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .cta--boxed .img-ct {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .cta--boxed .sectionheading br {
    display: none;
  }
}
.cta--boxed .bglightyellow {
  border-radius: 30px;
}
@media (max-width: 1020px) {
  .cta--boxed .bglightyellow .col-md-5, .cta--boxed .bglightyellow .col-md-7 {
    width: 100%;
  }
  .cta--boxed .bglightyellow .col-md-5 .sectionheading, .cta--boxed .bglightyellow .col-md-7 .sectionheading {
    padding: 20px 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .cta--boxed .bglightyellow .sectionheading {
    padding: 30px 0;
  }
}
.cta--boxed .bglightyellow .thumb-cta {
  margin-top: -100px;
}
@media (max-width: 767px) {
  .cta--boxed .bglightyellow .thumb-cta {
    margin-top: 0;
  }
}
.cta--boxed .btn-lg {
  padding: 18px 45px;
}
@media (max-width: 767px) {
  .cta--boxed .btn-lg {
    padding: 18px 0px;
    width: 100%;
  }
}
@media (max-width: 420px) {
  .cta--boxed .btn-lg {
    font-size: 16px;
  }
}

/** About **/
.award {
  font-weight: 600;
}
.award .award-container {
  gap: 20px;
}

.vision-value {
  gap: 3%;
}
.vision-value .card-title {
  font-size: 22px;
}
@media (max-width: 1020px) {
  .vision-value {
    gap: 0;
  }
  .vision-value .column {
    width: 100% !important;
  }
}
.vision-value .column {
  width: 48.5%;
}

.text-key .card-title {
  letter-spacing: 3px;
}

.ourteam .card-title {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
}

/** Career **/
.pageheader--extrafull {
  padding-bottom: 215px;
}
.pageheader--extrafull .heading {
  font-size: 64px;
  line-height: 76px;
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .pageheader--extrafull .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
.pageheader--extrafull .subheading {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 158px;
  font-weight: 400;
}
.pageheader--column .titlelogo {
  font-size: 22px;
}
.pageheader--column .heading {
  font-size: 64px;
  line-height: 76px;
}
@media (max-width: 767px) {
  .pageheader--column .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
.pageheader--column .subheading {
  font-size: 26px;
  line-height: 39px;
  font-weight: 400;
}
.pageheader--videofull {
  height: 739px;
}
.pageheader--videofull .tagline .heading {
  font-size: 64px;
}
@media (max-width: 767px) {
  .pageheader--videofull .tagline .heading {
    font-size: 32px;
  }
}
.pageheader--videofull .tagline .heading .subheading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 400;
}
@media (max-width: 767px) {
  .pageheader--videofull .tagline .heading .subheading {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px;
  }
}

.img-section {
  margin-top: -210px;
}
.img-section .gallery-career .img-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.img-section .gallery-career .img-container img {
  height: 280px !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.img-section .gallery-career .img-container:nth-child(1) img {
  width: 320px;
}
@media (max-width: 767px) {
  .img-section .gallery-career .img-container:nth-child(1) img {
    width: 100%;
  }
}
.img-section .gallery-career .img-container:nth-child(2) img {
  width: 440px;
}
.img-section .gallery-career .img-container:nth-child(3) img {
  width: 560px;
}
.img-section .gallery-career .img-container:nth-child(4) img {
  width: 904px;
}
.img-section .gallery-career .img-container:nth-child(5) img {
  width: 440px;
}

.square-join .card-title {
  font-size: 22px;
  line-height: 30px;
}
.square-join .card {
  min-height: 200px;
}

.nav-tabs .nav-item button {
  background: #FFF9E8;
  color: #666872;
  padding: 4px 18px !important;
}
.nav-tabs .nav-item button.active, .nav-tabs .nav-item button:hover {
  background: #FFA823;
  color: #000414;
  font-weight: 500;
}

.tab-content .card-title {
  font-size: 25px;
  line-height: 39px;
  font-weight: 600;
}

/** Single Career **/
.back-career a {
  font-size: 14px;
  line-height: 21px;
  color: #000414;
  text-decoration: unset;
}

.sidebar .title {
  color: #666872;
}

/** Contact us **/
.side-contact {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
}
.side-contact .card-thumb {
  width: 30px;
  height: 40px;
}
.side-contact .card-body .card-title {
  font-size: 22px;
  line-height: 33px;
}

.divider {
  width: auto;
  height: 1px;
  background-color: #D9DADC;
}

/*---finance----*/
.mainhero.hero-page-item-bottom .hero-thumb .thumb-first {
  z-index: 10;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  bottom: 0;
  margin: auto 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.mainhero.hero-page-item-bottom .hero-thumb .thumb-first img {
  bottom: 0;
  position: absolute;
}
.mainhero.hero-page-item-bottom .tagline {
  row-gap: 10px;
}
.mainhero.hero-page-item-bottom .tagline .btn-lg {
  margin-bottom: 10%;
}
.mainhero.hero-page-item-bottom .tagline .title {
  padding-top: 50px;
}
.mainhero.hero-page-item-bottom .tagline .title img {
  margin-right: 6px;
}
@media (max-width: 767px) {
  .mainhero.hero-page-item-bottom .tagline .heading {
    font-size: 32px;
    line-height: 38px;
  }
}
.mainhero.hero-page-item-bottom .tagline .subheading {
  line-height: 39px;
  margin-bottom: 30px;
  width: 100%;
}
@media (max-width: 767px) {
  .mainhero.hero-page-item-bottom .tagline .subheading {
    line-height: 21px;
  }
}

.plan {
  margin-bottom: 70px;
}
.plan h2 {
  line-height: 72px;
}
@media (max-width: 768px) {
  .plan h2 {
    line-height: inherit;
  }
}
.plan .plantable {
  border-radius: 15px;
}
@media (max-width: 980px) {
  .plan .plantable {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.plan .plantable .labelplan .rounded {
  border-radius: 20px !important;
  padding: 7px 18px;
  text-align: center;
  line-height: 20px;
}
.plan .plantable .labelplan .bgwhite {
  color: #2AB56B;
  background-color: #ffffff;
}
.plan .plantable .price {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
}
.plan .plantable .entryplan {
  padding: 15px;
  text-align: center;
}
.plan .plantable .titleplan img {
  margin-right: 8px;
  width: 16px;
}
.accordion .accordion-item {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: transparent;
}
.accordion .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper-finance-copy {
  padding-left: 10%;
}
@media (max-width: 768px) {
  .wrapper-finance-copy {
    padding-left: 0;
  }
}

.wrapper--card-thumbnail-color {
  margin-bottom: 80px;
}
.wrapper--card-thumbnail-color div[class^=col-md-] {
  padding: 20px;
}
.wrapper--card-thumbnail-color .card {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.0509803922);
}

.slick-slide .btn-play img {
  display: unset;
}

.testimonial .card {
  height: 100%;
}

.slick-dots li:only-of-type {
  display: none;
}

.cta .phone-cta {
  color: #333643;
  font-size: 18px;
  line-height: 27px;
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.cta .phone-cta img {
  padding-right: 5px;
  width: 20px;
}
.cta--boxed .cta--withphone .thumb-cta {
  margin-top: -63px;
}
@media (max-width: 767px) {
  .cta--boxed .cta--withphone .thumb-cta {
    margin-top: 20px !important;
  }
}

/*--- Advice Page ----*/
@media (max-width: 767px) {
  .hero-advice .thumb-first img {
    width: 100%;
  }
}

/*
.advice{
    .card--thumbcolor .card-thumb{
        padding:0;
    }
}

.advice-solution{
    .card{
        gap : 15px;
    }
}*/
@media (max-width: 1100px) {
  .ourteam .card--team .card-body {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .ourteam .card--team .card-thumb {
    width: 100%;
  }
}
.ourteam .card--team .card-copy-right {
  padding: 10px 0px 10px 50px;
}
@media (max-width: 992px) {
  .ourteam .card--team .card-copy-right {
    padding: 10px 0px;
  }
}
.ourteam .card--team .card-copy-left {
  padding: 10px 50px 10px 0px;
}
@media (max-width: 992px) {
  .ourteam .card--team .card-copy-left {
    padding: 10px 0px;
  }
}
.ourteam .wrapper--team-colour {
  border-radius: 15px;
  padding: 30px;
}

/*--- Tech Page ----*/
@media (max-width: 992px) {
  .ourproduct .tagline {
    padding-left: 0px !important;
  }
}
.ourproduct--list {
  list-style: none;
}
.ourproduct--list li {
  background: url(./../images/check-circle.png) no-repeat 0 3px;
  padding-left: 30px;
  margin-bottom: 8px;
}

@media (max-width: 992px) {
  .hide-mobile {
    display: none;
  }
}

.thumbwrap-featured {
  background: url("../images/thumb-placeholder-fintostech.png") no-repeat;
  background-size: contain;
  background-position: center center;
  /*.bg-tech-featured{
      background-image: url(./../images/tech-bg-featured.png);
      background-position: center center;
      width: 80%;
      height: 80%;
      background-size: 100%;
      background-repeat: no-repeat;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.5;
  }    */
}
@media (max-width: 992px) {
  .thumbwrap-featured div[class^=col-lg-] {
    padding-bottom: 30px;
    text-align: center !important;
  }
  .thumbwrap-featured div[class^=col-lg-] img {
    padding: 0 !important;
  }
  .thumbwrap-featured div[class^=col-lg-].pt-5 {
    padding-top: 0px !important;
  }
  .thumbwrap-featured div[class^=col-lg-].mt-5 {
    margin-top: 0px !important;
  }
}

@media (max-width: 767px) {
  .wrapper-tech-appbtn {
    display: block !important;
  }
  .wrapper-tech-appbtn a {
    display: block;
    margin-bottom: 10px;
  }
}

.wrapper-button-featured .btn {
  font-size: 20px;
  margin: 5px;
}
@media (max-width: 768px) {
  .wrapper-button-featured .btn {
    width: 100%;
    margin: 0;
    width: 100%;
  }
}
.wrapper-button-featured .btn-primary {
  border: 1px solid #FFA823;
  text-decoration: none;
}
@media (max-width: 768px) {
  .wrapper-button-featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}

.wrapper-arrow-timeline {
  text-align: right;
}
.wrapper-arrow-timeline .timeline-btn {
  cursor: pointer;
  display: inline-block;
}

.c-pr-130 {
  padding-right: 130px;
}
@media (max-width: 1100px) {
  .c-pr-130 {
    padding-right: 0;
  }
}

.icon-caret {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}

.collapsed .icon-caret {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.carousel-dots .slick-dots li {
  margin: 0;
}

.brand-slide .logo-container .slick-slide {
  padding: 0 15px;
}

.brand-slide .logo-container .slick-list::before,
.brand-slide .logo-container .slick-list::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px; /* Adjust the width as needed */
  height: 100%;
  z-index: 1;
  pointer-events: none; /* Ensure the overlays don't interfere with sliding */
}

.brand-slide .logo-container .slick-list::before {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.brand-slide .logo-container .slick-list::after {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}

.bg-shadow-blue {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  left: 0;
  top: 0;
  margin: 0 auto;
  z-index: 1;
  background: radial-gradient(50% 50% at 50% 50%, rgba(174, 255, 236, 0.8) 0%, #5D79E3 100%);
  -webkit-filter: blur(250px);
          filter: blur(250px);
}

.dots-blue .slick-dots li.slick-active button {
  background-color: #5572DE;
}

.font-16 {
  font-size: 16px !important;
}